/* Custom CSS for Forget Password component */

/* Set background color for the entire component */
.forgot-password-container {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
  }


  
  /* Set styles for the form */
  .forgot-password-form {
    display: flex;
    flex-direction: column;
  }
  
  /* Set styles for the form inputs */
  .forgot-password-form input {
    padding: 10px;
    margin: 5px 5px;
    border-radius: 5px;
    border: none;
    background-color: beige;
    width: 100%
  }
  
  /* Set styles for the submit button */
  .forgot-password-form button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
  }

  .forgot-password-form button:hover {
    background-color: #45a049;
  }
  
  /* Set styles for the error message */
  .forgot-password-error {
    color: red;
    margin-top: 10px;
  }
  